:root {
  font-size: 26px;
  font-family: var(--main-font);
	box-sizing: border-box;
  --main-font: 'Open Sans', Arial, Helvetica, sans-serif;
	--secondary-font: 'Tourney', Arial, Helvetica, sans-serif;
	--type-scale: 1.333;
	--small-font: calc(1rem / var(--type-scale));
	--smaller-font: calc(var(--small-font) / var(--type-scale));
	--smallest-font: calc(var(--smaller-font) / var(--type-scale));
	--big-font: calc(1rem * var(--type-scale));
	--bigger-font: calc(var(--big-font) * var(--type-scale));
	--biggest-font: calc(var(--bigger-font) * var(--type-scale));
}

/* Meyer reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

em {
	font-style: italic;
}

body {
	line-height: 1;
	background-color: antiquewhite;
}

body.hasHover .collapsible:hover,
body.hasHover .close-button:hover {
	background-color: hsl(174, 72%, 40%);
	border: 3px solid white;
	outline: none;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

body.hasHover #list a {
	text-decoration: none;
}

body.hasHover #list a:hover {
	text-decoration: underline;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

img {
  display: block;
  width: 100%;
}

header {
	font-family: var(--secondary-font);
	font-size: var(--biggest-font);
	text-align: center;
	font-style: italic;
}

header h1 {
	padding: 1rem;
}

h2 {
	font-size: var(--bigger-font);
	padding: 1rem;
	font-family: var(--secondary-font);
	font-style: italic;
}

.archetype h5 {
	font-style: italic;
}

.archetype h5:first-child {
	margin-block-start: 1rem;
} 

.container, 
.section-container {
	display: flex;
	flex-direction: column;
	flex: 1 1 100%;
}

nav {
	background-color: hsl(174, 72%, 27%);
	height: 8vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: sticky;
	z-index: 1;
	top: 0;
	border-bottom: 1px solid hsl(174, 72%, 18%);
}

nav ul {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

nav li > a {
	display: block;
	color: white;
	text-decoration: none;
	transition: all .2s ease-in-out;
	padding: 1rem;
}

nav li > a:hover {
	background-color: antiquewhite;
	color: black;
}

#info {
	display: flex;
	flex-direction: column;
}

#info p {
	line-height: 1.5;
	margin-block-end: .5rem;
}

/* Attempt at rotating gallery */

/* #gallery {
	width: 100%;
	height: 100%;
	position: absolute;
	transform-style: preserve-3d;
	animation: rotation 20s infinite linear;
	margin-block-end: 1rem;;
}

#gallery:hover {
	animation-play-state: paused;
}

#gallery figure {
	display: block;
	position: absolute;
	width: 90%;
	height: 78%;
	left: 10px;
	right: 10px;
	top: 10px;
	background: black;
	overflow: hidden;
	border: solid 5px black;
}

#gallery figure:nth-child(1){ transform: rotateY(0deg) translateZ(288px);}
#gallery figure:nth-child(2){ transform: rotateY(60deg) translateZ(288px);}
#gallery figure:nth-child(3){ transform: rotateY(120deg) translateZ(288px);}
#gallery figure:nth-child(4){ transform: rotateY(180deg) translateZ(288px);}
#gallery figure:nth-child(5){ transform: rotateY(240deg) translateZ(288px);}
#gallery figure:nth-child(6){ transform: rotateY(300deg) translateZ(288px);}
#gallery figure:nth-child(7){ transform: rotateY(360deg) translateZ(288px);}

#gallery img{
	filter: grayscale(1);
	cursor: pointer;
	transition: all .5s ease;
	width: 90%;
}

#gallery img:hover{
	filter: grayscale(0);
	transform: scale(1.2,1.2);
}

@keyframes rotation{
	from{
			transform: rotateY(0deg);
	}
	to{
			transform: rotateY(360deg);
	}
} */

section > p {
	margin-inline-start: 1.2rem;
	margin-inline-end: .75rem;
}

button > p::after {
	content: '\207a';
	position: absolute;
	top: .3rem;
	right: 1rem;
	font-size: 3rem;
	font-weight: bold;
	transition: content ease-in-out .2s;
}

.collapsible {
  color: white;
  cursor: pointer;
  padding: 1rem;
  width: 90%;
  border: 2px solid black;
	border-radius: .75rem;
  text-align: left;
  font-size: 1rem;
	margin: 0;
	transition: background-color ease-in-out .2s;
	margin-block-end: .25rem;
	position: relative;
	background-color: hsl(174, 72%, 27%);
}

.collapsible:focus,
.close-button:focus,
.active {
	background-color: hsl(174, 72%, 40%);
	border: 3px solid white;
	outline: none;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

.active > p::after {
	content: '\2212';
	position: absolute;
	top: .5rem;
	right: 1rem;
	font-size: 2rem;
	font-weight: bold;
} 

.close-button {
	text-align: center;
	font-size: 1rem;
	margin: .5rem .5rem 1rem .5rem;
	padding: .5rem;
	background-color: hsl(174, 72%, 27%);
	color: white;
	border: 2px solid black;
	border-radius: .5rem;
	width: 50%;
	font-family: inherit;
	cursor: pointer;
}

.archetype {
  display: none;
	align-self: flex-start;
	flex-direction: column;
	align-items: center;
}

.archetype p {
	font-size: .85rem;
	line-height: 1.35;
	letter-spacing: 1px;
	text-align: justify;
	margin: 1rem;
	hyphens: auto;
}

.archetype p:first-child {
	margin-block-end: 0;
}

#archetypes {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	flex: 1 1 100%;
}

#archetypes h2 {
	align-self: flex-start;
}

#list a {
	color: hsl(174, 72%, 27%);
	font-style: italic;
}

footer {
	margin-block-start: 2rem;
	margin-block-end: 1rem;
	text-align: center;
	font-size: var(--small-font);
}

/* Media Breakpoints */
/* Tablet */
@media screen and (min-width: 768px) {
	
}

/* Laptop/Desktop */
@media screen and (min-width: 1024px) {
	.container {
		display: grid;
	}

	#archetypes {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		align-items: end;
	}

	#archetypes .collapsible {
		margin-inline-start: 3%;
	}

	.archetype {
		display: none;
		align-items: center;
	}

	.col-1 {
		grid-column: 1/2;
	}

	.col-2 {
		grid-column: 2/3;
	}

	.grid-span {
		grid-column: 1/3;
	}

	.close-button {
		width: 30%;
	}
}

/* Ultra-Wide */
@media screen and (min-width: 1201px) {
	
}